@charset "UTF-8";
/* ======================== STYLES GÉNÉRAUX ======= */
html {
  background-color: #0d0d0d;
}

body {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height: 700px;
}

.contenuCours {
  margin-top: 5%;
  padding-bottom: 10%;
}

.contenuCours .conteneurCours {
  width: 85%;
  margin: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6;
      grid-template-columns: 6;
  -ms-grid-rows: 5;
      grid-template-rows: 5;
  grid-gap: 2%;
}

.contenuCours .conteneurCours .coursProg {
  background-color: #E86F6F;
  height: 8em;
  margin-bottom: 6%;
}

.contenuCours .conteneurCours .coursProg:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px -3px #00FFD1;
          box-shadow: 2px -3px #00FFD1;
  width: 105%;
}

.contenuCours .conteneurCours .rangee1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.contenuCours .conteneurCours .rangee2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.contenuCours .conteneurCours .rangee3 {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.contenuCours .conteneurCours .rangee4 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.contenuCours .conteneurCours .rangee5 {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

/* ======================== STYLES MOBILES ======= */
@media (max-width: 600px) {
  .contenuCours {
    margin-top: 5%;
    padding-bottom: 10%;
  }
  .contenuCours .conteneurCours {
    width: 85%;
    margin: auto;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3;
        grid-template-columns: 3;
    -ms-grid-rows: 9;
        grid-template-rows: 9;
    grid-gap: 2%;
  }
  .contenuCours .conteneurCours .coursProg {
    height: 6em;
    margin-bottom: 6%;
  }
  .contenuCours .conteneurCours .coursProg:hover {
    -webkit-box-shadow: 1px -2px #00FFD1;
            box-shadow: 1px -2px #00FFD1;
    width: 105%;
  }
  .contenuCours .conteneurCours .rangee1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .contenuCours .conteneurCours :nth-child(4) {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .contenuCours .conteneurCours :nth-child(5) {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .contenuCours .conteneurCours :nth-child(6) {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .contenuCours .conteneurCours .rangee2 {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .contenuCours .conteneurCours :nth-child(10) {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .contenuCours .conteneurCours :nth-child(11) {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .contenuCours .conteneurCours :nth-child(12) {
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .contenuCours .conteneurCours .rangee3 {
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .contenuCours .conteneurCours :nth-child(16) {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .contenuCours .conteneurCours :nth-child(17) {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .contenuCours .conteneurCours :nth-child(18) {
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .contenuCours .conteneurCours .rangee4 {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .contenuCours .conteneurCours :nth-child(22) {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .contenuCours .conteneurCours :nth-child(23) {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .contenuCours .conteneurCours :nth-child(24) {
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .contenuCours .conteneurCours .rangee5 {
    -ms-grid-row: 9;
        grid-row-start: 9;
  }
}
/*# sourceMappingURL=cours.css.map */