html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  word-spacing: 0.5px;
}

.marginTop {
  display: -ms-grid;
  display: grid;
  grid-template: 'main' 'side';
  background-color: #2A2929;
}

.marginTop .mainEtudiantDeroulant {
  background-image: url(../medias/images/Group1motifsGroupEtudiant.png);
  grid-area: main;
}

.marginTop .mainEtudiantDeroulant section {
  display: -ms-grid;
  display: grid;
}

.marginTop .mainEtudiantDeroulant section div {
  background-color: #242323;
  margin-bottom: 2vh;
}

.marginTop .mainEtudiantDeroulant section .titresRubriques {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 2vw;
  -webkit-box-shadow: 0.3em 0.3em 5px #00FFD1;
          box-shadow: 0.3em 0.3em 5px #00FFD1;
}

.marginTop .mainEtudiantDeroulant section .textesRubriques {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2vw;
  -webkit-box-shadow: -0.3em 0.3em 5px #00C2FF;
          box-shadow: -0.3em 0.3em 5px #00C2FF;
}

.marginTop .mainEtudiantDeroulant section .textesRubriques p {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  line-height: 1.7;
}

.marginTop .mainEtudiantDeroulant section .textesRubriques .capricieux {
  padding-bottom: 1.5em;
}

.marginTop .sideEtudiantFixe {
  background-color: #545353;
  display: -ms-grid;
  display: grid;
  grid-template: 'MC' 'horaire';
  grid-area: side;
  -webkit-box-shadow: -1vw 0 10px black;
          box-shadow: -1vw 0 10px black;
}

.marginTop .sideEtudiantFixe .divMotCle {
  display: -ms-grid;
  display: grid;
  grid-template: 'MC1 MC2';
  grid-area: MC;
  background-image: url(../medias/images/vector-etudiants1.png), url(../medias/images/vector-etudiants2.png);
  background-position: 100% 90%, 10% 40%;
  background-repeat: no-repeat, no-repeat;
}

.marginTop .sideEtudiantFixe .divMotCle .motsCles1 {
  grid-area: MC1;
}

.marginTop .sideEtudiantFixe .divMotCle .motsCles1 ul {
  list-style: none;
  -webkit-padding-start: 2vw;
          padding-inline-start: 2vw;
}

.marginTop .sideEtudiantFixe .divMotCle .motsCles2 {
  grid-area: MC2;
}

.marginTop .sideEtudiantFixe .divMotCle .motsCles2 ul {
  list-style: none;
  direction: rtl;
  -webkit-padding-start: 2vw;
          padding-inline-start: 2vw;
}

.marginTop .sideEtudiantFixe .divHoraire {
  grid-area: horaire;
  display: -ms-grid;
  display: grid;
}

.imagePrincipale {
  width: 98vw;
  height: 98vw;
}

li {
  margin-bottom: 1vh;
  background-color: #242323;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

li p {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  line-height: 1.7;
}

li p:not(:last-child) {
  padding-bottom: 1vh;
}

p {
  color: white;
  font-size: 1.1rem;
  padding: 0vh 1.5em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  text-justify: inter-word;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  line-height: 1.7;
}

h5 {
  color: white;
  font-size: 1.4rem;
  padding-top: 1vh;
  padding-right: 2vh;
  padding-left: 1.5em;
  font-family: 'Oxanium', cursive;
}

.imgDeroulant {
  height: 0;
  width: 0;
}

.titresDeroulants {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  font-family: 'Oxanium', cursive;
}

/* Portrait and Landscape */
@media (max-device-width: 767px) {
  .titresRubriques {
    width: 85%;
  }
  .textesRubriques {
    width: 85%;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media (min-device-width: 768px) and (max-device-width: 1024px) {
  p {
    font-size: 1.1rem;
  }
  .imagePrincipale {
    width: 51vh;
    height: auto;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .titresRubriques {
    width: 85%;
  }
  .textesRubriques {
    width: 85%;
  }
  body {
    grid-template: 'main side';
    overflow: hidden;
  }
  body .mainEtudiantDeroulant::-webkit-scrollbar {
    display: none;
  }
  body .mainEtudiantDeroulant {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  body .sideEtudiantFixe {
    height: 100%;
  }
  body .sideEtudiantFixe .divMotCle {
    height: 100%;
    grid-template: 'MC1 MC2';
  }
  body .sideEtudiantFixe .divMotCle .motsCles1 {
    grid-area: MC1;
  }
  body .sideEtudiantFixe .divMotCle .motsCles2 {
    grid-area: MC2;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media (min-device-width: 1025px) {
  p {
    font-size: 1.3rem;
  }
  .imagePrincipale {
    width: 65vh;
    height: auto;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .titresRubriques {
    width: 75%;
  }
  .textesRubriques {
    width: 75%;
  }
  body {
    grid-template: 'main side';
    overflow: hidden;
  }
  body .mainEtudiantDeroulant::-webkit-scrollbar {
    display: none;
  }
  body .mainEtudiantDeroulant {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }
  body .sideEtudiantFixe {
    height: 100%;
  }
  body .sideEtudiantFixe .divMotCle {
    position: -webkit-sticky;
    position: sticky;
    grid-template: 'MC1 MC2';
  }
  body .sideEtudiantFixe .divMotCle .motsCles1 {
    grid-area: MC1;
  }
  body .sideEtudiantFixe .divMotCle .motsCles2 {
    grid-area: MC2;
  }
}
/*# sourceMappingURL=etudiants-tim.css.map */