html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  grid-template: 'main' 'side';
  background-color: #2A2929;
}

body .mainEtudiantDeroulant {
  background-image: url(../medias/images/Group1motifsGroupEtudiant.png);
  grid-area: main;
}

body .mainEtudiantDeroulant section {
  display: -ms-grid;
  display: grid;
}

body .mainEtudiantDeroulant section div {
  background-color: #242323;
  margin-bottom: 2vh;
  width: 85%;
  display: -ms-grid;
  display: grid;
}

body .mainEtudiantDeroulant section div:nth-child(odd) {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 2vw;
  -webkit-box-shadow: 1vw 1vh #00FFD1;
          box-shadow: 1vw 1vh #00FFD1;
}

body .mainEtudiantDeroulant section div:nth-child(even) {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2vw;
  -webkit-box-shadow: -1vw 1vh #00C2FF;
          box-shadow: -1vw 1vh #00C2FF;
}

body .sideEtudiantFixe {
  background-color: #545353;
  display: -ms-grid;
  display: grid;
  grid-template: 'MC' 'horaire';
  grid-area: side;
  -webkit-box-shadow: -1vw 0 10px black;
          box-shadow: -1vw 0 10px black;
}

body .sideEtudiantFixe .divMotCle {
  display: -ms-grid;
  display: grid;
  grid-template: 'MC1 MC2';
  grid-area: MC;
  background-image: url(../medias/images/vector-etudiants1.png), url(../medias/images/vector-etudiants2.png);
  background-position: 100% 90%, 10% 40%;
  background-repeat: no-repeat, no-repeat;
}

body .sideEtudiantFixe .divMotCle .motsCles1 {
  grid-area: MC1;
}

body .sideEtudiantFixe .divMotCle .motsCles1 ul {
  list-style: none;
  -webkit-padding-start: 2vw;
          padding-inline-start: 2vw;
}

body .sideEtudiantFixe .divMotCle .motsCles2 {
  grid-area: MC2;
}

body .sideEtudiantFixe .divMotCle .motsCles2 ul {
  list-style: none;
}

body .sideEtudiantFixe .divHoraire {
  grid-area: horaire;
  display: -ms-grid;
  display: grid;
}

.imagePrincipale {
  width: 98vw;
  height: 98vw;
}

li {
  margin-bottom: 1vh;
  background-color: #242323;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

li p {
  margin: 0;
  padding: 0;
}

li p:not(:last-child) {
  padding-bottom: 1vh;
}

p {
  color: white;
  font-size: 1.1rem;
  padding: 0vh 1vw;
  text-align: justify;
  text-justify: inter-word;
}

h5 {
  color: white;
  font-size: 1.4rem;
  padding-top: 1vh;
  padding-right: 2vh;
  padding-left: 2vh;
}

video {
  width: 70vw;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-size: 1.1rem;
  }
  .imagePrincipale {
    width: 51vh;
    height: auto;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  video {
    width: 30vw;
    height: auto;
  }
  body {
    grid-template: 'main side';
    overflow: hidden;
  }
  body .mainEtudiantDeroulant::-webkit-scrollbar {
    display: none;
  }
  body .mainEtudiantDeroulant {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  body .mainEtudiantDeroulant div {
    width: 50vw;
  }
  body .mainEtudiantDeroulant div:nth-child(even) {
    margin-right: 1vw;
  }
  body .sideEtudiantFixe {
    height: 100%;
  }
  body .sideEtudiantFixe .divMotCle {
    height: 100%;
    grid-template: 'MC1 MC2';
  }
  body .sideEtudiantFixe .divMotCle .motsCles1 {
    grid-area: MC1;
  }
  body .sideEtudiantFixe .divMotCle .motsCles2 {
    grid-area: MC2;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  p {
    font-size: 1.3rem;
  }
  .imagePrincipale {
    width: 65vh;
    height: auto;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  video {
    width: 40vw;
    height: auto;
  }
  body {
    grid-template: 'main side';
    overflow: hidden;
  }
  body .mainEtudiantDeroulant::-webkit-scrollbar {
    display: none;
  }
  body .mainEtudiantDeroulant {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  body .mainEtudiantDeroulant div {
    width: 50vw;
  }
  body .mainEtudiantDeroulant div:nth-child(even) {
    margin-right: 1vw;
  }
  body .sideEtudiantFixe {
    height: 100%;
  }
  body .sideEtudiantFixe .divMotCle {
    position: -webkit-sticky;
    position: sticky;
    grid-template: 'MC1 MC2';
  }
  body .sideEtudiantFixe .divMotCle .motsCles1 {
    grid-area: MC1;
  }
  body .sideEtudiantFixe .divMotCle .motsCles2 {
    grid-area: MC2;
  }
}
/*# sourceMappingURL=etudiants-comiteEtudiant.css.map */