@charset "utf-8";
/* ======================== STYLES GÉNÉRAUX ======= */

#grilleCours
{
    width: 100%;
    background-image: linear-gradient(157deg, #303030 6.25%, #2c2c2c 6.25%, #2c2c2c 12.50%, #252525 12.50%, #252525 18.75%, #212121 18.75%, #212121 25%, #1d1d1d 25%, #1d1d1d 31.25%, #171717 31.25%, #171717 37.50%, #131313 37.50%, #131313 43.75%, #0d0d0d 43.75%, #0d0d0d 50%, #303030 50%, #303030 56.25%, #2c2c2c 56.25%, #2c2c2c 62.50%, #252525 62.50%, #252525 68.75%, #212121 68.75%, #212121 75%, #1d1d1d 75%, #1d1d1d 81.25%, #171717 81.25%, #171717 87.50%, #131313 87.50%, #131313 93.75%, #0d0d0d 93.75%, #0d0d0d 100%);
    background-size: 100% 300%;
    background-repeat:no-repeat;
    background-color: #0d0d0d;

    background-color: #0d0d0d;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    z-index: -2;
    .contenuCours
    {
        margin-top: 5%;
        padding-bottom: 10%;
    
    
        .conteneurCours
        {
            width: 90%;
            margin: auto;
        
            text-align: center;
        
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 5;
            grid-gap: 2%;
    
            .session
            {
                //background-color: #00C2FF;
                
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
                grid-template-rows: 1fr;
                column-gap: 1vw;
    
                height: 50vh;
    
                h2
                {
                    background-color: #00C2FF;
                    //margin-bottom: 5vh;
                    height: 15vh;
                    //width: 80vw;
                    position: absolute;
                    text-align: left;
                    z-index: 0;
                    display: inline;
                    text-shadow: 1px 2px gray;
                    padding-inline-start: 1em;
                    //margin-block-start: 1.5em;
                    font-family: 'Oxanium', cursive;
                }

                .coursActif
                {
                    height: 75%;
                }
                .coursInactif
                {
                    height: 20vh;

                    p
                    {
                        display: none;
                    }
                }
    
                .cours
                {
                    z-index: 1;
                    background-color: #E86F6F;
            
                    //height: 120px;
                    width: 100%;
                    //height: 14em;
                    //margin-bottom: 10vh;
                    margin-top: 10vh;
    
                    //border: 2px solid #00C2FF;
                    //border-right: 2px solid #00C2FF;
                    padding: 15px;
    
                    h3
                    {
                        height: 30%;
                        font-size: 0.95vw;
                        text-shadow: 1px 1px gray;
                        text-align: left;
                        font-family: 'Oxanium', cursive;
                    }
    
                    p
                    {
                        font-size: 0.85vw;
                        font-family: 'Poiret One', cursive;
                        font-weight: bold;
                        line-height: 1.7;
                    }
                    p:last-child
                    {
                        font-size: 0.75vw;
                    }
                }
                .cours:hover
                {
                    cursor: pointer;
                    box-shadow: 0px -3px #00FFD1;
                }
            }
        
            
        }
    }
}


/* ======================== STYLES MOBILES ======= */
@media (max-width: 600px) 
{
    #grilleCours
    {

        .contenuCours
        {
            margin-top: 20%;
            margin-bottom: 10%;
            padding-bottom: 15%;
    
            .conteneurCours
            {
                width: 80%;
                margin: auto;
            
                text-align: center;

                display: inline;

                .sessionActive
                {
                    height: 50%;
                    margin-bottom: 1vh;
                    .cours
                    {
                        display: inherit;
                    }
                }
                .sessionInactive
                {
                    height: 50%;
                    margin-bottom: 1vh;
                    .cours
                    {
                        display: none;
                    }
                }

                .session
                {
                    width: 100%;
    
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    row-gap: 4vh;

                    .numSession
                    {
                        width: 80% !important;
                        left: 10vw;
                    }

                    .cours
                    {
                        grid-column-start: 1;
                        grid-row-start: auto;
                        //background-color: wheat;
                        
                        //height: 120px;
                        width: 75%;
                        height: 300px;
                        margin: 0 auto 0 auto;
                        //row-gap: 6vh;
                        //padding: 10px;
                        
                        h3
                        {
                            height: 20%;
                            font-size: 4.2vw;
                            text-align: center;
                        }
                        p
                        {
                            font-size: 3.5vw;
                            display: inherit;
                        }
                        p:last-child
                        {
                            font-size: 3vw;
                        }
                    }
                    div:first-of-type
                    {
                        margin: 10vh auto 0 auto;
                    }
                    
                }
            }
        }
    }
}