html {
    height: 100%;
}

/* Header */

// couleurs 
$blue-design: #00C2FF;
$vert-prog: #00FFD1;

// Couleurs header
$gray-header: #242323;
$gray-shine: #3C3735;
$white-off: #DFDBD9;

#header {
    color: white;
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;

    header {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        top: 0;
        width: 100%;
        background-color: $gray-header;
        z-index: 10;
    }

    /* img Logo */
    .divLogo {
        justify-self: center;
        align-self: center;
    }

    /* img Maisonneuve */
    .divMaisonneuve {
        justify-self: end;
        align-self: center;
    }

    .divLogo a {
        display: grid;
    }

    .divMaisonneuve a {
        display: grid;
        margin-right: 1em;

        .imgMaisonneuve {
            justify-self: end;
            width: auto;
        }
    }

    .imgLogo {
        width: auto;
    }


    .openbtn {
        display: grid;
        margin-left: 0.2em;
        font-size: 3rem;
        cursor: pointer;
        align-self: center;
        color: $white-off;

        img {
            padding-top: 3%;
            padding-left: 3%;
            height: auto;
        }
    }

    /* The side navigation menu */
    /* The navigation menu links */

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $gray-header;
        overflow-x: hidden;
        /* Disable horizontal scroll */
        overflow-y: hidden;
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
        display: grid;

        .menuPrincipale {
            padding-inline-start: 1em;
            margin-block-start: 0em;
            font-weight: bold;
        }

        .menuSecondaire {
            padding-inline-start: 1.7em;
        }

        ul {
            list-style: none;
            display: grid;
            margin-block-start: 0;
        }

        li {
            align-self: center;
        }

        a {
            padding: 0.5em 0;
            text-decoration: none;
            font-size: 25px;
            color: $white-off;
            display: block;
            transition: 0.3s;

            text {
                text-align: center;
                transform: lowercase;
            }

            &:hover {
                color: #fff;
            }
        }

        .closebtn {
            font-size: 40px;
            padding: 0 5% 0 ;
            align-self: center;
            justify-self: end;
            color: $white-off;
        }
    }

    .divBandesCouleurs {
        display: grid;
        align-self: center;

        .div-bande-couleur-vert {
            align-self: center;

            img {
                width: 100%;
            }
        }

        .div-bande-couleur-bleu {
            align-self: center;

            img {
                width: 100%;
            }
        }
    }

    .titreReseauxSociaux {
        align-self: center;
        justify-self: center;
        color: $white-off;
        font-weight: normal;
        margin-block-end: 0;
        margin-block-start: 0;
    }

    .liensMedias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-inline-start: 0;
        margin-block-end: 0;

        li {
            list-style: none;
            justify-self: center;
            align-self: center;
        }

        a {
            display: block;
            height: 5.5em;
            text-align: center;
        }


    }

    /* ======================== STYLES ORDINATEURS ======= */
    @media (min-width: 1025px) and (max-width: 2560px) {
        header {

            //Logos
            .imgLogo {
                height: 9em;
                ;
            }

            .imgMaisonneuve {
                height: 0em;
            }

            .openbtn {
                font-size: 5.5rem;
            }

            .imgLiensMedias {
                height: 3.3em;
            }

            .titreReseauxSociaux {
                font-size: 1.7em;
            }

            .aNav {
                font-size: 1.9em;
            }
        }

    }

}

/* ======================== STYLES ORDINATEURS (Petits) ======= */
@media (min-width: 769px) and (max-width: 1024px) {
    header {

        //Logos
        .imgLogo {
            height: 6em;
            ;
        }

        .imgMaisonneuve {
            height: 0em;
        }

        .openbtn {
            font-size: 6rem;
        }

        .imgLiensMedias {
            height: 2.7em;
        }

        .titreReseauxSociaux {
            font-size: 1.4em;
        }

        .aNav {
            font-size: 1.7em;
        }
    }
}

/* ======================== STYLES TABLETTE ======= */
@media (min-width: 426px) and (max-width: 768px) {
    header {

        //Logos
        .imgLogo {
            height: 5.5em;
            ;
        }

        .imgMaisonneuve {
            height: 0em;
        }

        .openbtn {
            font-size: 5rem;
        }

        .imgLiensMedias {
            height: 2.9em;
        }
    }
}

/* ======================== STYLES Portable ======= */
@media (max-width: 425px) {
    header {

        //Logos
        .imgLogo {
            height: 4em;
            ;
        }

        .imgMaisonneuve {
            height: 0em;
        }

        .openbtn {
            font-size: 3rem;
        }

        .imgLiensMedias {
            height: 1.5em;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .titreReseauxSociaux {
            font-size: 1.2em;
        }

        .aNav {
            font-size: 1.7em;
        }
    }
}

/* ======================== animations ======= */

@-webkit-keyframes fade1 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 10;}
 }
 
 @keyframes fade1 {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .Anim1 {
    -webkit-animation-name: fade1;
    animation-name: fade1;
    animation-delay: 2sec;
    animation-iteration-count:infinite;
    animation-duration: 6s;
 }

 @-webkit-keyframes fade2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fade2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .Anim2 {
    -webkit-animation-name: fade2;
    animation-name: fade2;
    animation-duration: 6s;
    animation-delay: 2sec;
    animation-iteration-count:infinite;
    margin-left: -201%;
 }