html {
  height: 100%;
}

/* Header */
#header {
  color: white;
  display: -ms-grid;
  display: grid;
  width: 100%;
  /* img Logo */
  /* img Maisonneuve */
  /* The side navigation menu */
  /* The navigation menu links */
  /* ======================== STYLES ORDINATEURS ======= */
}

#header header {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  width: 100%;
  background-color: #242323;
  z-index: 10;
}

#header .divLogo {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .divMaisonneuve {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .divLogo a {
  display: -ms-grid;
  display: grid;
}

#header .divMaisonneuve a {
  display: -ms-grid;
  display: grid;
  margin-right: 1em;
}

#header .divMaisonneuve a .imgMaisonneuve {
  -ms-grid-column-align: end;
      justify-self: end;
  width: auto;
}

#header .imgLogo {
  width: auto;
}

#header .openbtn {
  display: -ms-grid;
  display: grid;
  margin-left: 0.2em;
  font-size: 3rem;
  cursor: pointer;
  -ms-grid-row-align: center;
      align-self: center;
  color: #DFDBD9;
}

#header .openbtn img {
  padding-top: 3%;
  padding-left: 3%;
  height: auto;
}

#header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242323;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: -ms-grid;
  display: grid;
}

#header .sidenav .menuPrincipale {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  font-weight: bold;
}

#header .sidenav .menuSecondaire {
  -webkit-padding-start: 1.7em;
          padding-inline-start: 1.7em;
}

#header .sidenav ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

#header .sidenav li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .sidenav a {
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 25px;
  color: #DFDBD9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Oxanium', cursive;
}

#header .sidenav a text {
  text-align: center;
  -webkit-transform: lowercase;
          transform: lowercase;
}

#header .sidenav a:hover {
  color: #fff;
}

#header .sidenav .closebtn {
  font-size: 40px;
  padding: 0 5% 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  color: #DFDBD9;
}

#header .divBandesCouleurs {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
}

#header .divBandesCouleurs .div-bande-couleur-vert {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .divBandesCouleurs .div-bande-couleur-vert img {
  width: 100%;
}

#header .divBandesCouleurs .div-bande-couleur-bleu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .divBandesCouleurs .div-bande-couleur-bleu img {
  width: 100%;
}

#header .titreReseauxSociaux {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #DFDBD9;
  font-weight: normal;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-family: 'Oxanium', cursive;
}

#header .liensMedias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#header .liensMedias li {
  list-style: none;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .liensMedias a {
  display: block;
  height: 5.5em;
  text-align: center;
}

#header .liensMedias .imgLiensMedias {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

@media (min-width: 1025px) and (max-width: 2560px) {
  #header header .imgLogo {
    height: 9em;
  }
  #header header .imgMaisonneuve {
    height: 0em;
  }
  #header header .openbtn {
    font-size: 5.5rem;
  }
  #header header .imgLiensMedias {
    height: 3.3em;
  }
  #header header .titreReseauxSociaux {
    font-size: 1.7em;
  }
  #header header .aNav {
    font-size: 1.9em;
  }
}

/* ======================== STYLES ORDINATEURS (Petits) ======= */
@media (min-width: 769px) and (max-width: 1024px) {
  header .imgLogo {
    height: 6em;
  }
  header .imgMaisonneuve {
    height: 0em;
  }
  header .openbtn {
    font-size: 6rem;
  }
  header .imgLiensMedias {
    height: 2.7em;
  }
  header .titreReseauxSociaux {
    font-size: 1.4em;
  }
  header .aNav {
    font-size: 1.7em;
  }
}

/* ======================== STYLES TABLETTE ======= */
@media (min-width: 426px) and (max-width: 768px) {
  header .imgLogo {
    height: 5.5em;
  }
  header .imgMaisonneuve {
    height: 0em;
  }
  header .openbtn {
    font-size: 5rem;
  }
  header .imgLiensMedias {
    height: 2.9em;
  }
}

/* ======================== STYLES Portable ======= */
@media (max-width: 425px) {
  header .imgLogo {
    height: 4em;
  }
  header .imgMaisonneuve {
    height: 0em;
  }
  header .openbtn {
    font-size: 3rem;
  }
  header .imgLiensMedias {
    height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  header .titreReseauxSociaux {
    font-size: 1.2em;
  }
  header .aNav {
    font-size: 1.7em;
  }
}

/* ======================== animations ======= */
@-webkit-keyframes fade1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 10;
  }
}

@keyframes fade1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Anim1 {
  -webkit-animation-name: fade1;
  animation-name: fade1;
  -webkit-animation-delay: 2sec;
          animation-delay: 2sec;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

@-webkit-keyframes fade2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Anim2 {
  -webkit-animation-name: fade2;
  animation-name: fade2;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 2sec;
          animation-delay: 2sec;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -201%;
}
/*# sourceMappingURL=Header-Nav.css.map */