html {
  height: 100%;
}

/* Header */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #242323;
  z-index: 1;
}

/* img Logo */
.divLogo {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* img Maisonneuve */
.divMaisonneuve {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logoTIM img, .logoMaisonneuve img {
  width: 25%;
  min-width: 80px;
}

.divLogo a {
  margin-left: 9em;
}

.divMaisonneuve a {
  margin-left: 18em;
}

.openbtn {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: start;
}

.openbtn img {
  padding-top: 3%;
  padding-left: 3%;
}

.openbtn {
  font-size: 4em;
  cursor: pointer;
}

/* The side navigation menu */
/* The navigation menu links */
.sideNavGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18fr 12fr 2fr 12fr;
      grid-template-rows: 18fr 12fr 2fr 12fr;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242323;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .menuPrincipale {
  padding-top: 10%;
}

.sidenav ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
}

.sidenav li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sidenav a {
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 25px;
  color: #DFDBD9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a text {
  text-align: center;
  -webkit-transform: lowercase;
          transform: lowercase;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 40px;
  padding: 5%;
}

.divBandesCouleurs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.divBandesCouleurs .div-bande-couleur-vert {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.divBandesCouleurs .div-bande-couleur-bleu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.divBandesCouleurs .bande-couleur-vert {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.divBandesCouleurs .bande-couleur-bleu {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.titreReseauxSociaux {
  text-align: center;
  color: #DFDBD9;
  font-size: 25px;
}

.liensMedias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.liensMedias li {
  width: 25%;
  list-style: none;
}

.liensMedias a {
  display: block;
  height: 5.5em;
  text-align: center;
}

.liensMedias img {
  width: 150%;
  height: 150%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
  height: 100%;
}

/*
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  */
/* ======================== STYLES ORDINATEURS (Petits) ======= */
@media (min-width: 980px) and (max-width: 1200px) {
  header .logoHeader {
    width: 5%;
    margin: -5% auto auto auto;
    padding-bottom: 1%;
  }
  header .logoTIM img, header .logoMaisonneuve img {
    width: 65%;
    min-width: 90px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header .divLogo a {
    margin-left: -2.6rem;
  }
  header .divLogo a img {
    margin-top: 3rem;
  }
  header .divMaisonneuve a {
    margin-left: 4rem;
  }
  header .divMaisonneuve a img {
    margin-top: 3.5rem;
  }
}

/* ======================== STYLES TABLETTE ======= */
@media (min-width: 520px) and (max-width: 980px) {
  header .logoHeader {
    width: 5%;
    margin: -5% auto auto auto;
    padding-bottom: 1%;
  }
  header .logoTIM img, header .logoMaisonneuve img {
    width: 45%;
    min-width: 80px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header .divLogo a {
    margin-left: -2.6rem;
  }
  header .divLogo a img {
    margin-top: 2.5rem;
  }
  header .divMaisonneuve a {
    margin-left: 0.5rem;
  }
  header .divMaisonneuve a img {
    margin-top: 3rem;
  }
}

/* ======================== STYLES MOBILE ======= */
@media (max-width: 520px) {
  header .logoHeader {
    width: 5%;
    margin: -5% auto auto auto;
    padding-bottom: 1%;
  }
  header .logoTIM img, header .logoMaisonneuve img {
    width: 45%;
    min-width: 80px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  header .divLogo a {
    margin-left: -2.2rem;
  }
  header .divLogo a img {
    margin-top: 2rem;
  }
  header .divMaisonneuve a {
    margin-left: -0.6em;
  }
  header .divMaisonneuve a img {
    margin-top: 2.5rem;
  }
}
/*# sourceMappingURL=Header-Nav.css.map */