html {
  height: 100%;
  z-index: -5;
  overflow-x: hidden;
}

h1, h2, h3, p {
  font-family: 'Oxanium', cursive;
}

p {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  line-height: 1.7;
  font-size: large;
}

#accueil {
  height: 100%;
  background-image: linear-gradient(157deg, #303030 6.25%, #2c2c2c 6.25%, #2c2c2c 12.5%, #252525 12.5%, #252525 18.75%, #212121 18.75%, #212121 25%, #1d1d1d 25%, #1d1d1d 31.25%, #171717 31.25%, #171717 37.5%, #131313 37.5%, #131313 43.75%, #0d0d0d 43.75%, #0d0d0d 50%, #303030 50%, #303030 56.25%, #2c2c2c 56.25%, #2c2c2c 62.5%, #252525 62.5%, #252525 68.75%, #212121 68.75%, #212121 75%, #1d1d1d 75%, #1d1d1d 81.25%, #171717 81.25%, #171717 87.5%, #131313 87.5%, #131313 93.75%, #0d0d0d 93.75%, #0d0d0d 100%);
  background-size: 100% 250%;
  background-repeat: no-repeat;
  background-color: #0d0d0d;
}

#accueil #accueilBody {
  background-image: url("../medias/images/motifs-entete.png");
  background-repeat: no-repeat;
  background-position: 0px -55px;
  background-size: 100%;
  margin-top: 0%;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#accueil #accueilBody #logoSite {
  width: 55%;
  margin: auto auto 15% auto;
}

#accueil #accueilBody #logoSite img {
  width: 90%;
  margin: auto auto 45% auto;
}

#accueil #accueilBody .motifLignes {
  height: 0;
}

#accueil #accueilBody .motifLignes img {
  position: relative;
  z-index: 0;
  width: 100vw;
}

#accueil #accueilBody .motifLignes #ligneFond_1 {
  top: 30vw;
  right: 0vw;
}

#accueil #accueilBody .motifLignes #ligneFond_2 {
  margin-top: -700vh;
  top: 40vw;
  right: 0vw;
}

#accueil #accueilBody .motifLignes #ligneFond_3 {
  margin-top: -10vw;
  top: 16vw;
  right: 15vw;
  width: 145vw;
  max-width: 2100px;
  min-width: 800px;
}

#accueil #accueilBody .motifLignes #ligneFond_4 {
  margin-top: -30vw;
  top: 20vw;
  right: 0vw;
}

#accueil #accueilBody .contenu {
  margin-top: 15%;
  /*background-image: url("../medias/images/ligne-pattern.png");
            //background-image: none;
            background-repeat:no-repeat;
            background-position: 100% 0%;
            background-size: 88%;
            //background-color: //;*/
}

#accueil #accueilBody .contenu * {
  z-index: 1;
}

#accueil #accueilBody .contenu .presentation {
  width: 88%;
  margin: auto;
  background-color: rgba(17, 17, 17, 0.2);
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5;
      grid-template-columns: 5;
  -ms-grid-rows: 3;
      grid-template-rows: 3;
  grid-gap: 10px;
}

#accueil #accueilBody .contenu .presentation img {
  width: 80%;
}

#accueil #accueilBody .contenu #intro > :first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 20%;
}

#accueil #accueilBody .contenu #intro > :nth-child(2) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  margin-bottom: 7%;
  margin-top: -16%;
}

#accueil #accueilBody .contenu #poss > :first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 20%;
}

#accueil #accueilBody .contenu #poss > :nth-child(2) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  margin-top: -25%;
}

#accueil #accueilBody .contenu #eleves {
  padding-top: 10%;
  width: 80%;
  margin: auto;
}

#accueil #accueilBody .contenu #eleves > :first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin-right: 20%;
  margin-top: -7%;
}

#accueil #accueilBody .contenu #eleves > :nth-child(2) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#accueil #accueilBody .contenu .conteneurCarrousel {
  width: 50%;
  margin: 10% auto auto auto;
}

#accueil #accueilBody .reseauxAccueil {
  background-image: url(../medias/images/motifs-pied.png);
}

#accueil #accueilBody .reseauxAccueil .conteneurReseaux {
  padding-top: 10%;
  text-align: center;
}

#accueil #accueilBody .reseauxAccueil .conteneurReseaux h3 {
  font-family: 'Oxanium', cursive;
  padding-bottom: 2%;
}

#accueil #accueilBody .reseauxAccueil .conteneurReseaux ul {
  width: 25%;
  margin: auto;
  list-style: none;
  padding-bottom: 10%;
  padding-left: 0;
}

#accueil #accueilBody .reseauxAccueil .conteneurReseaux ul li {
  display: inline-block;
  width: 2vw;
  margin: auto 8px;
}

#accueil #accueilBody .reseauxAccueil .conteneurReseaux ul li img {
  cursor: pointer;
  min-width: 25px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  #accueil {
    font-size: 0.7rem;
  }
  #accueil #accueilBody {
    font-family: 'Oxanium', cursive;
    font-size: 0.9em;
  }
  #accueil p {
    white-space: pre-line;
  }
  #accueil .motifLignes #ligneFond_1 {
    top: 50vw;
    right: 0vw;
  }
  #accueil .motifLignes #ligneFond_2 {
    top: 58vw;
    right: 0vw;
  }
  #accueil .motifLignes #ligneFond_3 {
    top: 35vw;
    right: 10vw;
  }
  #accueil .motifLignes #ligneFond_4 {
    top: 50vw;
  }
}

@media screen and (max-width: 750px) {
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    top: 65vw;
    right: 0vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 70vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    top: 55vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    top: 80vw;
  }
}

@media screen and (max-width: 600px) {
  #accueil {
    background-size: 100% 200%;
  }
  #accueil #accueilBody {
    text-align: center;
    background-position: 0vh 12vh;
  }
  #accueil #accueilBody h1 {
    font-size: calc(15px + 1.5vw);
  }
  #accueil #accueilBody h2 {
    font-size: 4vw;
  }
  #accueil #accueilBody p {
    font-size: 3vw;
    white-space: pre-line;
  }
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    margin-top: 50vw;
    top: 80vw;
    right: 0vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 100vw;
    width: 130vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    margin-top: 60vw;
    top: 55vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    margin-top: 30vw;
    top: 110vw;
  }
  #accueil #accueilBody #logoSite {
    margin: auto auto 25vh auto;
  }
  #accueil #accueilBody .contenu {
    position: relative;
    z-index: 1 !important;
    margin-top: 40%;
    background-image: none;
    background-position: 110% 65%;
    text-align: center;
  }
  #accueil #accueilBody .contenu .presentation {
    display: inline-block;
  }
  #accueil #accueilBody .contenu .presentation p {
    max-width: 65vw;
    margin: auto;
  }
  #accueil #accueilBody .contenu #intro > :first-child {
    margin: auto;
  }
  #accueil #accueilBody .contenu #intro > :nth-child(2) {
    margin: 5vw auto 15vw auto;
  }
  #accueil #accueilBody .contenu #poss > :first-child {
    width: 100%;
    margin: 2.5vw auto 2.5vw auto;
  }
  #accueil #accueilBody .contenu #poss > :nth-child(2) {
    margin: auto auto 7.5vw auto;
  }
  #accueil #accueilBody .contenu #eleves {
    padding-top: 10%;
    margin: auto;
    width: 100%;
  }
  #accueil #accueilBody .contenu #eleves > :first-child {
    margin: 0% 0% 15% 0%;
  }
  #accueil #accueilBody .contenu #eleves > :nth-child(2) {
    width: 50%;
    margin: auto auto 5vw auto;
  }
}

@media screen and (max-width: 500px) {
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    top: 90vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 110vw;
    right: 10vw;
    width: 160vw;
    max-width: 650px;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    top: 55vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    margin-top: 30vw;
    top: 105vw;
  }
}

@media screen and (max-width: 440px) {
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    top: 100vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 120vw;
    right: 18vw;
    width: 160vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    top: 105vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    margin-top: 30vw;
    top: 90vw;
  }
}

@media screen and (max-width: 340px) {
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    top: 100vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 140vw;
    right: 15vw;
    width: 140vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    top: 105vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    margin-top: 30vw;
    top: 80vw;
  }
}

@media screen and (max-width: 240px) {
  #accueil #accueilBody .motifLignes #ligneFond_1 {
    top: 140vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_2 {
    top: 175vw;
    right: 20vw;
    width: 160vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_3 {
    top: 105vw;
    right: 10vw;
  }
  #accueil #accueilBody .motifLignes #ligneFond_4 {
    margin-top: 30vw;
    top: 45vw;
  }
}
/*# sourceMappingURL=index.css.map */