
html
{
    height: 100%;
    z-index: -5;

    overflow-x: hidden;
}

h1, h2, h3, p {
    font-family: 'Oxanium', cursive;
  }

p {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    line-height: 1.7;
    font-size: large;
}

#accueil
{
    height: 100%;
    background-image: linear-gradient(157deg, #303030 6.25%, #2c2c2c 6.25%, #2c2c2c 12.50%, #252525 12.50%, #252525 18.75%, #212121 18.75%, #212121 25%, #1d1d1d 25%, #1d1d1d 31.25%, #171717 31.25%, #171717 37.50%, #131313 37.50%, #131313 43.75%, #0d0d0d 43.75%, #0d0d0d 50%, #303030 50%, #303030 56.25%, #2c2c2c 56.25%, #2c2c2c 62.50%, #252525 62.50%, #252525 68.75%, #212121 68.75%, #212121 75%, #1d1d1d 75%, #1d1d1d 81.25%, #171717 81.25%, #171717 87.50%, #131313 87.50%, #131313 93.75%, #0d0d0d 93.75%, #0d0d0d 100%);
    background-size: 100% 250%;
    background-repeat:no-repeat;
    background-color: #0d0d0d;

    #accueilBody
    {
        background-image: url("../medias/images/motifs-entete.png");
        background-repeat:no-repeat;
        background-position: 0px -55px;
        background-size: 100%;
        margin-top: 0%;
        
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        //Debut des elements body----------------------------------
        #logoSite
        {
            width: 55%;
            margin: auto auto 15% auto;
        }
        #logoSite img
        {
            width: 90%;
            margin: auto auto 45% auto;
        }

        .motifLignes
        {
            height: 0;
            img
            {
                position: relative;
                z-index: 0;
                width: 100vw;
            }

            #ligneFond_1
            {
                //top: 70%;
                //left: 16%;
                top: 30vw;
                right: 0vw;
            }
            #ligneFond_2
            {
                margin-top: -700vh;
                top: 40vw;
                right: 0vw;
            }
            #ligneFond_3
            {
                margin-top: -10vw;
                top: 16vw;
                right: 15vw;
                width: 145vw;
                max-width: 2100px;
                min-width: 800px;
            }
            #ligneFond_4
            {
                margin-top: -30vw;
                top: 25vw;
                right: 0vw;
            }
        }
        
        .contenu
        {
            margin-top: 15%;
            /*background-image: url("../medias/images/ligne-pattern.png");
            //background-image: none;
            background-repeat:no-repeat;
            background-position: 100% 0%;
            background-size: 88%;
            //background-color: //;*/
            *
            {
                z-index: 1;
            }
            .presentation
            {
                width: 88%;
                margin: auto;
            
                background-color: rgba(17, 17, 17, 0.2);
            
                font-size: 1rem;
            
                display: grid;
                grid-template-columns: 5;
                grid-template-rows: 3;
                grid-gap: 10px;
            }
            .presentation img
            {
                width: 80%;
            }
            
            #intro > :first-child
            {
                //background-color: salmon;;
            
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 2;
            
                margin-right: 20%;
            
            }
            #intro > :nth-child(2)
            {
                //background-color: darkkhaki;;
            
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
            
                margin-bottom: 7%;
                margin-top: -16%;
            }
            
            #poss > :first-child
            {
                //background-color: salmon;;
            
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            
                margin-right: 20%;
            
            }
            #poss > :nth-child(2)
            {
                //background-color: darkkhaki;;
            
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 3;
            
                margin-top: -25%;
            }
            
            #eleves 
            {
                padding-top: 10%;
                width: 80%;
                margin: auto;
            }
            #eleves > :first-child
            {
                //background-color: salmon;;
            
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            
                margin-right: 20%;
                margin-top: -7%;
            
            }
            #eleves > :nth-child(2)
            {
                //background-color: darkkhaki;;
            
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
            
            }

            .conteneurCarrousel
            {
                width: 50%;
                margin: 10% auto auto auto;
            }
            
        }
        
        
        
        .reseauxAccueil
        {
            background-image: url(../medias/images/motifs-pied.png);
            
            .conteneurReseaux
            {
                padding-top: 10%;
                text-align: center;
            
                h3
                {
                    font-family: 'Oxanium', cursive;
                    padding-bottom: 2%;
                }
                ul
                {
                    width: 25%;
                    margin: auto;
                    list-style: none;
                    padding-bottom: 10%;
                    padding-left: 0;
            
                    li
                    {
                        display: inline-block;
                        width: 2vw;
                        margin: auto 8px;
            
                        img
                        {
                            cursor: pointer;
                            min-width: 25px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px)
{
    #accueil
    {
        #accueilBody
        {
            font-family: 'Oxanium', cursive;
            font-size: 0.9em;
        }

        font-size: 0.7rem;

        p 
        {
            white-space: pre-line;
        }

        .motifLignes
        {
            #ligneFond_1
            {
                //top: 70%;
                //left: 16%;
                top: 50vw;
                right: 0vw;
            }
            #ligneFond_2
            {
                top: 58vw;
                right: 0vw;
            }
            #ligneFond_3
            {
                top: 35vw;
                right: 10vw;
            }
            #ligneFond_4
            {
                top: 50vw;
            }
        }
    }
}

@media screen and (max-width: 750px)
{
    #accueil
    {
        #accueilBody
        {
            .motifLignes
            {
                #ligneFond_1
                {
                    //top: 70%;
                    //left: 16%;
                    top: 65vw;
                    right: 0vw;
                }
                #ligneFond_2
                {
                    top: 70vw;
                }
                #ligneFond_3
                {
                    top: 55vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    top: 80vw;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) 
{
    #accueil
    {
        background-size: 100% 200%;
        #accueilBody
        {
            text-align: center;
            background-position: 0vh 12vh;

            //color: red;
            $minTitre: calc(15px + 1.5vw);
            h1
            {
                font-size: $minTitre;
            }
            h2
            {
                font-size: 4vw;
            }

            p 
            {
                font-size: 3vw;
                white-space: pre-line;
            }

            .motifLignes
            {
                #ligneFond_1
                {
                    //top: 70%;
                    //left: 16%;
                    margin-top: 50vw;
                    top: 80vw;
                    right: 0vw;
                }
                #ligneFond_2
                {
                    top: 100vw;
                    width: 130vw;
                    right: 10vw;
                }
                #ligneFond_3
                {
                    margin-top: 60vw;
                    top: 55vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    margin-top: 30vw;
                    top: 110vw;
                }
            }
    
            #logoSite 
            {
                margin: auto auto 25vh auto;
            }
    
            .contenu
            {
                position: relative;
                z-index: 1 !important;
                margin-top: 40%;
                //background-image: url("../medias/images/ligne-pattern2.png");
                background-image: none;
                background-position: 110% 65%;
                text-align: center;
    
                .presentation
                {
                    display: inline-block;

                    p
                    {
                        max-width: 65vw;
                        margin: auto;
                    }
                }
                #intro > :first-child
                {
                    margin: auto;
                }
    
                #intro > :nth-child(2)
                {
                    margin: 5vw auto 15vw auto;
                }
        
                #poss > :first-child
                {
                    //background-color: salmon;;
                    width: 100%;
                    margin: 2.5vw auto 2.5vw auto;
                }
                #poss > :nth-child(2)
                {
                    //background-color: darkkhaki;;
                    margin: auto auto 7.5vw auto;
                }
        
                #eleves 
                {
                    padding-top: 10%;
                    margin: auto;
                    width: 100%;
                }
                #eleves > :first-child
                {
                    //background-color: salmon;;
                    margin: 0% 0% 15% 0%;
        
                }
                #eleves > :nth-child(2)
                {
                    //background-color: darkkhaki;;
                    width: 50%;
                    margin: auto auto 5vw auto;
                }
            }
    
    
        }
    }
}

@media screen and (max-width: 500px)
{
    #accueil
    {
        #accueilBody
        {
            .motifLignes
            {
                #ligneFond_1
                {
                    top: 90vw;
                    //min-width: 410px;
                }
                #ligneFond_2
                {
                    top: 110vw;
                    right: 10vw;
                    width: 160vw;
                    max-width: 650px;
                    //min-width: 540px;
                }
                #ligneFond_3
                {
                    top: 55vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    margin-top: 30vw;
                    top: 105vw;
                }
            }
        }
    }
}

@media screen and (max-width: 440px)
{
    #accueil
    {
        #accueilBody
        {
            .motifLignes
            {
                #ligneFond_1
                {
                    top: 100vw;
                    //min-width: 410px;
                }
                #ligneFond_2
                {
                    top: 120vw;
                    right: 18vw;
                    width: 160vw;
                }
                #ligneFond_3
                {
                    top: 105vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    margin-top: 30vw;
                    top: 90vw;
                }
            }
        }
    }
}

@media screen and (max-width: 340px)
{
    #accueil
    {
        #accueilBody
        {
            .motifLignes
            {
                #ligneFond_1
                {
                    top: 100vw;
                    //min-width: 410px;
                }
                #ligneFond_2
                {
                    top: 140vw;
                    right: 15vw;
                    width: 140vw;
                }
                #ligneFond_3
                {
                    top: 105vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    margin-top: 30vw;
                    top: 80vw;
                }
            }
        }
    }
}

@media screen and (max-width: 240px)
{
    #accueil
    {
        #accueilBody
        {
            .motifLignes
            {
                #ligneFond_1
                {
                    top: 140vw;
                    //min-width: 410px;
                }
                #ligneFond_2
                {
                    top: 175vw;
                    right: 20vw;
                    width: 160vw;
                }
                #ligneFond_3
                {
                    top: 105vw;
                    right: 10vw;
                }
                #ligneFond_4
                {
                    margin-top: 30vw;
                    top: 45vw;
                }
            }
        }
    }
}
