@import "utilities/variables";

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, $debut-gradient, $noir);
  background-repeat: no-repeat;
}

#stages {
  overflow: hidden;
  position:fixed;
	left:0;
	top:0;
	right:0;
  bottom:0;
  background-size: cover;
}

.entete-stages {
  background-color: $noir;
  padding-top: 1em;
  padding-bottom: 4em;
}

h1 {
  font-family: 'Roboto';
  font-size: 5em;
  color: $blanc;
  padding-left: 3%;
  padding-bottom: 0.5%;
  border-left: 0.1em solid;
  border-image-source: linear-gradient($bleu-site, $vert-site);
  border-image-slice: 1;
  background-image: linear-gradient(to right, $debut-gradient, $noir);
}

.arriere-plan {
  display: flex;
  justify-content: center;
  background-color: $noir;

  img {
    padding-top: 2%;
    opacity: 50%;
  }
}

.categories {
  padding-top: 15em;
}

ul {
  position: relative;
  left: 12%;
  bottom: 20em;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  
  li {
    display: inline-block;
    background-color: $noir;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 9%;
    padding-right: 9%;
    z-index: 1;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $gris;
      font-family: 'Roboto';
      font-size: 2em;
    }
  }
}

li:first-child {
  border: 0.3em solid;
  border-image-source: linear-gradient($rose-creation, $vert-creation);
  border-image-slice: 1;
}

li:last-child {
  border: 0.3em solid;
  border-image-source: linear-gradient($orange-prog, $mauve-prog);
  border-image-slice: 1;
}

.ligne-pattern {
  position: relative;
  right:  23%;
  bottom: 47em;
  width: 125%;
}

@media only screen and (max-width:450px) {
  html {
    width: 100%;
    height: 100%
  }

  #stages {
    overflow: visible;
    position: static;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-size: cover;
  }

  h1 {
    font-size: 200%;
  }

  .arriere-plan.img {
    width: 100%;
    height: auto;
  }

  .categories {
    background-image: linear-gradient(to bottom right, $debut-gradient, $noir);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

}