// Couleurs typographies
$noir: #000000;
$gris: #A5A5A5;
$blanc: #ffffff;

// Couleurs fond
$debut-gradient: #303030;
$temp: #A57070;
$rose-creation: #FF00B8;
$vert-creation: #B8FF01;
$orange-prog: #FF9F00;
$mauve-prog: #A000FF;

#stages {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.entete-stages {
  background-color: $noir;
  padding-top: 1em;
  padding-bottom: 4em;
}

h1 {
  font-family: 'Roboto';
  font-size: 5em;
  color: $blanc;
  // text-align: center;
  padding-left: 3%;
  padding-bottom: 0.5%;
  background-image: linear-gradient(to right, $debut-gradient, $noir);
  z-index: 1;
}

.arriere-plan {
  display: flex;
  justify-content: center;
  background-color: $noir;

  img {
    padding-top: 2%;
    opacity: 50%;
  }
}

.categories {
  padding-top: 15em;
  background-image: linear-gradient(to bottom right, $debut-gradient, $noir);
}

ul {
  position: relative;
  left: 12%;
  bottom: 20em;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  
  li {
    display: inline-block;
    background-color: $noir;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 10em;
    padding-right: 10em;
    z-index: 1;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $gris;
      font-family: 'Roboto';
      font-size: 2em;
    }
  }
}

li:first-child {
  border: 0.3em solid;
  border-image-source: linear-gradient($rose-creation, $vert-creation);
  border-image-slice: 1;
}

li:last-child {
  border: 0.3em solid;
  border-image-source: linear-gradient($orange-prog, $mauve-prog);
  border-image-slice: 1;
}

.ligne-pattern {
  position: relative;
  right:  22%;
  bottom: 47em;
  width: 125%;
  max-width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
