* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#professeurs {
  margin: 0 auto;
  background-color: black;
}

#professeurs section .galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 70vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-transform: translateY(55%) translateX(2.5%) rotate(90deg);
          transform: translateY(55%) translateX(2.5%) rotate(90deg);
}

#professeurs section .galerie .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: auto;
  width: 25%;
  background-color: white;
}

#professeurs section .galerie .item:nth-child(1) {
  -webkit-transform: translateY(25%) translateX(-75%) rotate(45deg);
          transform: translateY(25%) translateX(-75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(2) {
  -webkit-transform: translateY(25%) translateX(-25%) rotate(45deg);
          transform: translateY(25%) translateX(-25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(3) {
  -webkit-transform: translateY(25%) translateX(25%) rotate(45deg);
          transform: translateY(25%) translateX(25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(4) {
  -webkit-transform: translateY(25%) translateX(75%) rotate(45deg);
          transform: translateY(25%) translateX(75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(5) {
  -webkit-transform: translateY(0%) translateX(0%) rotate(45deg);
          transform: translateY(0%) translateX(0%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(6) {
  -webkit-transform: translateY(0%) translateX(200%) rotate(45deg);
          transform: translateY(0%) translateX(200%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(7) {
  -webkit-transform: translateY(150%) translateX(-200%) rotate(45deg);
          transform: translateY(150%) translateX(-200%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(8) {
  -webkit-transform: translateY(150%) translateX(0%) rotate(45deg);
          transform: translateY(150%) translateX(0%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(9) {
  -webkit-transform: translateY(125%) translateX(-75%) rotate(45deg);
          transform: translateY(125%) translateX(-75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(10) {
  -webkit-transform: translateY(125%) translateX(-25%) rotate(45deg);
          transform: translateY(125%) translateX(-25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(11) {
  -webkit-transform: translateY(125%) translateX(25%) rotate(45deg);
          transform: translateY(125%) translateX(25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(12) {
  -webkit-transform: translateY(125%) translateX(75%) rotate(45deg);
          transform: translateY(125%) translateX(75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(13) {
  -webkit-transform: translateY(-106.5%) translateX(-125%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(-125%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:nth-child(14) {
  -webkit-transform: translateY(-106.5%) translateX(0%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(0%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:nth-child(15) {
  -webkit-transform: translateY(-106.5%) translateX(125%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(125%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:before {
  content: '';
  float: left;
  padding-top: 100%;
}

#professeurs section .galerie .item:hover {
  background-color: #3e9eff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (min-width: 981px) {
  #professeurs section .galerie {
    width: 40vw;
    -webkit-transform: translateY(1%) rotate(360deg);
            transform: translateY(1%) rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */