* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#professeurs {
  margin: 0 auto;
  background-image: linear-gradient(157deg, #303030 6.25%, #2c2c2c 6.25%, #2c2c2c 12.5%, #252525 12.5%, #252525 18.75%, #212121 18.75%, #212121 25%, #1d1d1d 25%, #1d1d1d 31.25%, #171717 31.25%, #171717 37.5%, #131313 37.5%, #131313 43.75%, #0d0d0d 43.75%, #0d0d0d 50%, #303030 50%, #303030 56.25%, #2c2c2c 56.25%, #2c2c2c 62.5%, #252525 62.5%, #252525 68.75%, #212121 68.75%, #212121 75%, #1d1d1d 75%, #1d1d1d 81.25%, #171717 81.25%, #171717 87.5%, #131313 87.5%, #131313 93.75%, #0d0d0d 93.75%, #0d0d0d 100%);
  background-size: 100% 600%;
  background-repeat: no-repeat;
  background-color: #0d0d0d;
}

#professeurs section .galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 70vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-transform: translateY(55%) translateX(2.5%) rotate(90deg);
          transform: translateY(55%) translateX(2.5%) rotate(90deg);
}

#professeurs section .galerie .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: auto;
  width: 25%;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#professeurs section .galerie .item:nth-child(1) {
  -webkit-transform: translateY(25%) translateX(-75%) rotate(45deg);
          transform: translateY(25%) translateX(-75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(2) {
  -webkit-transform: translateY(25%) translateX(-25%) rotate(45deg);
          transform: translateY(25%) translateX(-25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(3) {
  -webkit-transform: translateY(25%) translateX(25%) rotate(45deg);
          transform: translateY(25%) translateX(25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(4) {
  -webkit-transform: translateY(25%) translateX(75%) rotate(45deg);
          transform: translateY(25%) translateX(75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(5) {
  -webkit-transform: translateY(0%) translateX(0%) rotate(45deg);
          transform: translateY(0%) translateX(0%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(6) {
  -webkit-transform: translateY(0%) translateX(200%) rotate(45deg);
          transform: translateY(0%) translateX(200%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(7) {
  -webkit-transform: translateY(150%) translateX(-200%) rotate(45deg);
          transform: translateY(150%) translateX(-200%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(8) {
  -webkit-transform: translateY(150%) translateX(0%) rotate(45deg);
          transform: translateY(150%) translateX(0%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(9) {
  -webkit-transform: translateY(125%) translateX(-75%) rotate(45deg);
          transform: translateY(125%) translateX(-75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(10) {
  -webkit-transform: translateY(125%) translateX(-25%) rotate(45deg);
          transform: translateY(125%) translateX(-25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(11) {
  -webkit-transform: translateY(125%) translateX(25%) rotate(45deg);
          transform: translateY(125%) translateX(25%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(12) {
  -webkit-transform: translateY(125%) translateX(75%) rotate(45deg);
          transform: translateY(125%) translateX(75%) rotate(45deg);
}

#professeurs section .galerie .item:nth-child(13) {
  -webkit-transform: translateY(-106.5%) translateX(-125%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(-125%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:nth-child(14) {
  background-color: #00FFD1;
  -webkit-transform: translateY(-106.5%) translateX(0%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(0%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:nth-child(15) {
  background-color: #00C2FF;
  -webkit-transform: translateY(-106.5%) translateX(125%) rotate(45deg) scale(1.5);
          transform: translateY(-106.5%) translateX(125%) rotate(45deg) scale(1.5);
}

#professeurs section .galerie .item:before {
  content: '';
  float: left;
  padding-top: 100%;
}

#professeurs section .galerie .item:hover .overlay::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#professeurs section .galerie .item:hover .overlay::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#professeurs section .galerie .item p {
  text-align: left;
  font-size: 1.5vmin;
}

#professeurs section .galerie .item .texte::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#professeurs section .galerie .item .centre {
  -webkit-transform: rotate(-45deg) translateY(45%);
          transform: rotate(-45deg) translateY(45%);
  display: inline-block;
  vertical-align: middle;
}

#professeurs section .galerie .item img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg) scale(2) translateY(15%);
          transform: rotate(-45deg) scale(2) translateY(15%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  mix-blend-mode: luminosity;
}

#professeurs section .galerie .item .adjust {
  -webkit-transform: rotate(-45deg) scale(1.5);
          transform: rotate(-45deg) scale(1.5);
}

#professeurs section .galerie .item .overlay {
  opacity: 1;
}

#professeurs section .galerie .item .overlay::before {
  background-color: #00FFD1;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

#professeurs section .galerie .item .overlay::after {
  background-color: #23278a;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

@media only screen and (min-width: 981px) {
  #professeurs section .galerie {
    width: 40vw;
    -webkit-transform: translateY(1%) rotate(360deg);
            transform: translateY(1%) rotate(360deg);
  }
  #professeurs section .galerie .item.texte .centre {
    -webkit-transform: rotate(-45deg) translateX(10%) translateY(40%);
            transform: rotate(-45deg) translateX(10%) translateY(40%);
    margin-top: 20px;
  }
  #professeurs section .galerie .item.texte .centre p {
    font-size: 0.85vmax;
  }
}

@media only screen and (max-width: 980px) {
  #professeurs section .galerie .item img {
    -webkit-transform: rotate(-135deg) scale(2) translateY(15%);
            transform: rotate(-135deg) scale(2) translateY(15%);
  }
  #professeurs section .galerie .item .adjust {
    -webkit-transform: rotate(-135deg) scale(1.5);
            transform: rotate(-135deg) scale(1.5);
  }
  #professeurs section .galerie .item.texte .centre {
    -webkit-transform: rotate(-135deg) translateX(-110%) translateY(5%);
            transform: rotate(-135deg) translateX(-110%) translateY(5%);
  }
}
/*# sourceMappingURL=styles.css.map */