// Couleurs typographies
$noir: #000000;
$gris: #A5A5A5;
$blanc: #ffffff;

// Couleurs fond
$debut-gradient: #303030;
$temp: #A57070;
$vert-site: #00FF9F;
$bleu-site: #00B8FF;
$rose-creation: #FF00B8;
$vert-creation: #B8FF01;
$orange-prog: #FF9F00;
$mauve-prog: #A000FF;
$bleu: blue;